body{
	background-color: gray;
	font-family: Comic Sans MS;
}

form{
	text-align: center;
	margin-top: 200px;
}

input{
	text-align: center;
	border-radius: 50px;
}

.res {
        text-align:center;
}
